/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* global selector  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #1A0B2E;
}
/* shared class  */
.primarybtn{
    padding: 12px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #F7E93F;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
}
.primarybtn:hover{
    background: linear-gradient(to  right, #9100F8, #FB09B4, #F7E93F);
}


#secondaryBtn:hover{
    border: 1px solid #FB09B4;
    color: #FB09B4;
    transform: scale(1.2);
    transition: 0.3s;
}
.commonHeading{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
.commonParagraph{
    font-size: 16px;
    line-height: 35px;
    color: rgb(163, 152, 152);
}
/* shared class  */
/* start header section  */
header{
    background: #1A0B2E;
    border-bottom: 1px solid #322246;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.logo h1{
    color: white;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
nav ul li:hover {
    border-bottom: 2px solid #ddd;
}
.logo h1 span{
    background: #F7E93F;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    color: transparent;
}
.mobilemenu {
    display: none;
    cursor: pointer;
}
/* end header section  */

.bannerSection{
    background-image: url("../assets/hero-bg.png");
    max-width: 1600px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0px;
}

.circlebox{
    background-image: url("../assets/hero-circle.png");
    /* position: absolute; */
    background-repeat: no-repeat;
   position: relative;
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   background-size: 100% 100%;
   
}

.batch{
    position: absolute;
    top: 20px;
    right: 40px;
    background: #00FF88;
    color: black;
    padding: 5px 10px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px #00FF88;
    font-size: 18px;
}


.heroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.hero{
    background-color: #19124417;
}
.herobtnContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
}
.heroTitle{
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
    animation: textRotate 2s infinite;
    animation-delay: 2s;
}
/* animation  */
@keyframes textRotate  {
    0% {
        transform: rotateY(0deg);
    }
    50%{
         transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

#secondaryBtn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}
/* end hero section  */

/* start about section  */
.sectionOverview{
    text-align: center;
    padding: 60px 0px;
    border-bottom: 1px solid #322246;
}
.p2{
    margin-top: 40px;
}
.aboutChild h1{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}
.aboutChild P{
    font-size: 1rem;
    font-weight: bold;
    color: #aaa1a1;
    text-transform: uppercase;
    margin-top: 1rem;
}
.aboutChild{
    text-align: center;
}
.aboutCardContainer{
    padding: 80px 0px;
}
.aboutCardContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.chooseSection .commonHeading{
    text-align: center ;
}
.chooseSection{
    padding: 120px 0px;
    background-color: #230E3D;
}
.gridItem h1{
    font-size: 28px;
    color: white;
    margin: 16px 0px;
}
.gridItem{
    background-color: #351165;
    padding: 30px;
    border-radius: 30px;
}
.item1{
    grid-area: premium;
    padding: 60px 30px;
}
.item2{
    grid-area: responce;
}
.item3{
    grid-area: community;
}
.item4{
    grid-area: Interviews;
}
.item5{
    grid-area: Resources;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "premium responce responce"
    "premium community community "
    "Interviews Interviews Resources";
    gap: 30px;
    margin-top: 40px;
}
/* end Choose section  */

/* start Featured section  */
.featured{
    background-color: #1A0B2E;
    padding: 120px 0px;
}
.feturedChild{
    background-color: #250D44;
     border-radius: 30px;
     overflow: hidden;
}
.fetureContent{
    padding: 20px;
}
.fetureContent h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.fetureContent p{
    font-size: 16px;
    color: rgb(163, 152, 152);
    margin: 15px 0px;
}
.duration{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}
.feturedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.feturedChild iframe{
    width: 100%;
    height: 200px;
}
/* end fetured section  */

/* start testimonial section  */
.testimonial {
    background-color: #1A0B2E;
    padding: 60px 0px;
}
.testimonialContainer{
    background-color: #351165;
    padding: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}


.testimonialContent h1{
    font-size: 38px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.socialIcon{
    margin-top: 20px;
}
.socialIcon ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.socialIcon ul li a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialIcon ul li a img{
    width: 20px;
}
.socialIcon ul li a:hover{
    background-color: #535050;
}
/* end testimonial section  */

/* start footer section  */
footer{
    background-color: #220F3E;
}
.footerContainer{
    background-image: url("../assets/footer-bg.png");
    padding: 140px 0px;
    background-position: center;
    background-repeat: no-repeat;
}
.footterContent{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.footterContent .logo h1{
    font-size: 65px;
}
.footerContainer p{
    font-size: 18px;
    color: rgb(163, 152, 152);
    margin-top: 50px;
   text-align: center;
}
.footterContent ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    list-style: none;
}
.footterContent ul li a{
    text-decoration: none;
    color: rgb(163, 152, 152);
    display: flex;
    align-items: center;
    gap: 10px;
}
.footterContent ul li a:hover{
    color: #00FF88;
}
/* end footer section  */